<footer class="container-fluid py-5">
  <hr class="p-4">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
      </svg>
      <small class="d-block mb-3 text-muted">© 2017-2018</small>
    </div>
    <div class="col-12 col-md">
      <h5 id="contact">À propos</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">Rue Brunehaut 149<br>B-7022 Mesvin</li>
        <br>
        <li class="text-muted">0499 86 05 84 / 0495 93 98 74</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">fermedeblanchepierre@live.fr</li>
        <br><br>
        <li class="text-muted">TVA: BE 0778.008.492</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Général</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" [routerLink]="['/legal']">Mentions légales</a></li>
        <li><a class="text-muted" [routerLink]="['/cgv']">Conditions générales de vente</a></li>
        <li><a class="text-muted" [routerLink]="['/rgpd']">RGPD</a></li>
      </ul>
    </div>
  </div>
  <div class="text-muted m-2 fixed-bottom">
    <a href="#top-content" class="btn-outline-dark">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
           class="bi bi-caret-up-square-fill" viewBox="0 0 16 16">
        <path
          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5A.5.5 0 0 0 4 11z"/>
      </svg>
    </a>
  </div>
</footer>
