<div class="container">
  <h1 class="text-center mt-2 mb-2">Conditions générales</h1>
  <h3 class="mt-2">Article 1er – Dispositions générales</h3>
  <p class="lead">
    La Ferme de Blanche Pierre, ayant son siège à Mesvin, n° d'entreprise BE 0778.008.492 (ci-après dénommée "Ferme de
    Blanche Pierre"), offre à ses clients la possibilité de commander certains articles.
    Les présentes Conditions Générales («Conditions») s’appliquent à tous les articles de l’assortiment Ferme de Blanche
    Pierre et à toute réservation placée par le client à la Ferme de Blanche Pierre. Le client accepte que ces
    Conditions soient seules applicables, à l’exclusion de ses propres conditions (d’achat) générales ou spécifiques,
    même si celles-ci stipulent qu’elles sont seules applicables.
  </p>

  <h3 class="mt-2">Article 2 – Produits</h3>
  <p class="lead">
    La Ferme de Blanche Pierre propose à ses clients des produits issus du secteur agricole. Ces produit ont une valeur
    basée sur une certaine quantité par rapport à une mesure (exemple : le lait entier se vend en bouteille de 1L pour
    €0,80). Les produits peuvent contenir des allergènes et si c'est le cas, ces derniers seront précisés dans le
    descriptif.
    Les photo associées au produit ont un but décoratif et proviennent de la banque d'image gratuite <a
    href="https://pixabay.com/fr/">pixabay.com</a>.
  </p>
  <h3 class="mt-2">Article 3 - Achat</h3>
  <p class="lead">
    L’achat devient effectif par le paiement des articles commandés.
  </p>
  <h3 class="mt-2">Article 4 – Réclamations</h3>
  <p class="lead">
    Les éventuelles réclamations relatives à l’exécution du service et à l’état des marchandises doivent être
    communiquées à la Ferme de Blanche Pierre au plus tard le jour ouvrable suivant l'enlèvement de la commande, sous
    peine d’extinction de tout droit. La Ferme de Blanche Pierre garantit la préparation des commandes dans le respect
    des normes et réglementations. Si toutefois un produit est vendu détérioré par la faute de la Ferme de Blanche
    Pierre, la valeur des produits sera créditée sur le compte client. Si le produit faisant l'objet de la réclamation
    est incorporé à d'autres produits dans un panier, seul le produit sera crédité. En cas d'abus, la Ferme de Blanche
    Pierre se réserve le droit de supprimer le compte du client. la Ferme de Blanche Pierre ne peut pas être tenue
    responsable des dommages causés par la faute de la victime, notamment suite à l'entreposage des marchandises dans de
    mauvaises conditions après l'enlèvement, ni des dommages indirects tels que le manque à gagner, la perte de revenus
    et la perte d’une occasion (énumération non exhaustive).
  </p>
  <h3 class="mt-2">Article 5 : Inscription</h3>
  <p class="lead">
    Afin de pouvoir bénéficier du service, le client doit procéder à son inscription sur le site. Lors de
    son inscription, le client s'engage à fournir des informations exactes et complètes et à les actualiser, le cas
    échéant, dans les plus brefs délais. Au cas où l'une de ces informations se révélerait fausse la Ferme de Blanche
    Pierre pourra, de sa propre initiative, suspendre ou fermer le compte du client et lui refuser pour l'avenir l'accès
    à tout ou partie du service. Lors de son inscription sur le site, le client indiquera l'email qu'il souhaite
    utiliser pour son nom de compte. Cet email sera par la suite utilisé pour communiquer avec le client. Lors de son
    inscription, le client choisit le mot de passe qui lui permettra d'accéder au service. Le client devra
    impérativement préserver la confidentialité de ce mot de passe afin d'éviter toute utilisation non autorisée par un
    tiers. Toute utilisation du service effectuée par le biais du mot de passe d'un consommateur est réputée effectuée
    par ce dernier. la Ferme de Blanche Pierre ne pourra être tenue responsable de toute perte ou dommage survenu en
    raison du manquement aux obligations de confidentialité incombant au consommateur. Le consommateur est informé,
    qu'en cas de divulgation de son mot de passe à un tiers, il sera responsable de toutes les violations des présentes
    conditions de vente commises par ce dernier.
  </p>
  <h3 class="mt-2">Article 6 : Fermeture du compte</h3>
  <p class="lead">
    À tout moment, pour quelque raison que ce soit, le client peut faire supprimer son compte sur
    simple demande à la Ferme de Blanche Pierre. La suppression d'un compte à la demande du client n’entraîne
    aucune indemnité ni remboursement. La Ferme de Blanche Pierre se réserve le droit de fermer unilatéralement un
    compte client en cas de comportement frauduleux, d'infraction aux présentes conditions, d'entrave répétée et
    comportement incompatible à la bonne réalisation du service ou d'abus manifeste. Dans ce cas, les seuls
    dédommagements exigibles par le client sont le remboursement des commandes payées par le client exclu et non encore
    enlevées.
    Les traces d'éventuelles commandes passées sur le site seront conservées.
  </p>
  <h3 class="mt-2">Article 7 - Respect de la vie privée</h3>
  <p class="lead">
    La Ferme de Blanche Pierre s’engage à utiliser les coordonnées de ses clients exclusivement pour répondre à leur
    demande et pour envoyer des informations en rapport avec la Ferme de Blanche Pierre. Nous traitons vos données comme
    des informations confidentielles que nous ne communiquons jamais à des tiers, sauf dans les cas spécifiques
    nécessaires à la bonne réalisation de notre service tels que décrits à cet article.

    Vous pouvez à tout moment consulter, modifier, corriger ou faire supprimer vos coordonnées dans la liste de clients
    de la Ferme de Blanche Pierre; vous pouvez aussi refuser que la Ferme de Blanche Pierre utilise vos données pour
    vous envoyer des informations. Il vous suffit de décocher l'option correspondante sur le site.
  </p>
  <h3 class="mt-2">Article 8 – Modification des Conditions</h3>
  <p class="lead">
    La Ferme de Blanche Pierre peut modifier les présentes Conditions à tout moment et sans notification. Toute
    réservation effectuée après la modification implique dans le chef du client l’acceptation de ces
    nouvelles Conditions.
  </p>
  <h3 class="mt-2">Article 9 - Preuve</h3>
  <p class="lead">
    Le client accepte que les communications et les sauvegardes électroniques puissent servir de preuves.
  </p>

  <h3 class="mt-2">Article 10 – Droit applicable – Attribution de compétence</h3>
  <p class="lead">
    Le droit belge est applicable, à l’exception des dispositions du droit international privé en matière de droit
    applicable et de la Convention de Vienne sur les contrats de vente internationale de marchandises. Seuls les
    tribunaux de l’arrondissement de Huy seront compétents pour connaître de tout litige éventuel.
  </p>
</div>
