<div style="min-height: 1000px;">
  <table class="table table-bordered container w-50 mt-2">
    <thead>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of cart?.stocks; index as i">
      <td class="custom-title">
        {{stock?.item.label | lowercase}}
        <span class="text-muted">( €{{stock?.item.price}}/{{stock?.item.qt}}{{stock?.item.measure.unit}} )</span>
      </td>
      <td>€{{stock?.item.price}}</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>€{{total}}</td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless container w-50 mt-2">
    <tbody>
    <tr>
      <td>
        <button type="button" class="btn btn-primary" (click)="onOrder()" *ngIf="this.cart.stocks?.length > 0" >Commander</button>
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
