<body class="text-center">
<form [formGroup]="loginForm" data-children-count="3" (ngSubmit)="onSubmit()">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" autofocus="" >
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" formControlName="pwd" placeholder="Password" >
  <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
    Login failed: {{ errorMessage }}
  </div>
</form>
</body>
