<div class="row">
  <div class="col-lg-3">
    <h2 class="my-3">Ferme de Blanche Pierre</h2>
    <div class="list-group">
      <a class="list-group-item" [routerLink]="['/home']">Produits</a>
    </div>
  </div>
  <div class="col-lg-9 my-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of items | sortBy: 'asc':'label'; index as i">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/img/item{{item.idItem}}.jpg" alt="item{{item.idItem}}.jpg">
          <div class="text-muted row justify-content-center" style="font-size: 0.7rem;">Image d'illustration non contractuelle. Via Pixabay</div>
          <div class="card-body">
            <h5 class="card-title">{{item.label | titlecase}}</h5>
          </div>
          <span class="card-body row justify-content-end mr-4 pb-1">
            <h4 *ngIf="item.price">
              <small>€</small>
              {{item.price}}
              <small *ngIf="item.qt" class="text-muted">/{{item.qt}}{{item.measure?.unit}}</small>
            </h4>
            <small *ngIf="!item.price" class="text-muted">Prix du jour (à demander sur place)</small>

          </span>
          <div class="card-footer text-center">
            <button class="btn btn-outline-fbpdark" [routerLink]="['/overview/'+item.idItem]">Détails</button>&nbsp;
            <button class="btn btn-fbpyellow" *ngIf="!isAdmin && item.price" (click)="onAdd(item.idItem)">Ajouter au panier
              <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
