<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">N° de commande</th>
    <th scope="col">Produits</th>
    <th scope="col">Date de commande</th>
    <th scope="col">Date d'enlèvement</th>
    <th scope="col">Client</th>
    <th scope="col">Statut</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders | sortBy: 'asc' : 'status.idStatus'">
    <td style="width: 10%">{{order.idOrder}}</td>
    <td>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleOrderModal">
        Infos
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Commande n°{{order.idOrder}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="list-item" *ngFor="let item of order.items">{{item?.label | titlecase}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </td>

    <td>{{order.orderDt | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{order.pickupDt | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>{{order.user.firstName}} {{order.user.lastName}}</td>
    <td>
      <span *ngIf="order.status.idStatus === 1">
        <button type="button" class="btn btn-warning" style="pointer-events: none">{{order.status.label}}</button>&nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="onCancel(order.idOrder)">Annuler</button>
      </span>
      <button type="button" class="btn btn-primary" style="pointer-events: none" *ngIf="order.status.idStatus === 4">{{order.status.label}}</button>
      <button type="button" class="btn btn-secondary" style="pointer-events: none" *ngIf="order.status.idStatus === 2">{{order.status.label}}</button>
      <button type="button" class="btn btn-success" style="pointer-events: none" *ngIf="order.status.idStatus === 5">{{order.status.label}}</button>
      <button type="button" class="btn btn-danger" style="pointer-events: none"  *ngIf="order.status.idStatus === 6">{{order.status.label}}</button>
      <button type="button" class="btn btn-info" style="pointer-events: none" *ngIf="order.status.idStatus === 3">{{order.status.label}}</button>
    </td>
    <td>
      <button *ngIf="order.status.idStatus !== 6 && order.status.idStatus !== 5 && order.status.idStatus !== 4" type="button" class="btn btn-success">Confirmer le paiement</button>
      <button *ngIf="order.status.idStatus === 4" type="button" class="btn btn-success">Confirmer l'enlèvement</button>
    </td>
  </tr>
  </tbody>
</table>
